Repository kubernetes-sigs/apiserver-network-proxy, pull requests merged in 2023-06, with the labels that each got.

#494 Quiet more error logs on stream canceled.
  pkg/agent/client.go
  pkg/server/server.go
Labels: size/S, lgtm, cncf-cla: yes, approved

#499 chore: remove refs to deprecated io/ioutil
  cmd/server/app/server.go
  cmd/test-client/main.go
  pkg/agent/client.go
  pkg/util/certificates.go
  tests/agent_disconnect_test.go
  tests/concurrent_client_request_test.go
  tests/concurrent_test.go
  tests/custom_alpn_test.go
  tests/ha_proxy_server_test.go
  tests/proxy_test.go
Labels: size/M, lgtm, cncf-cla: yes, approved, ok-to-test

#500 chore: pkg imported more than once
  tests/proxy_test.go
  tests/reconnect_test.go
Labels: size/S, lgtm, cncf-cla: yes, approved, ok-to-test

#498 proxy-server: change --delete-existing-uds-file default to true.
  cmd/server/app/options/options.go
  cmd/server/app/options/options_test.go
Labels: lgtm, size/XS, cncf-cla: yes, approved
